@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

header {
  background-color: rgb(102, 36, 0);
}

#imagen_portada img {
  height: 300px;
  object-fit: cover;
  display: block;
}

.navbar-brand {
  color: white;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  padding: 8px 20px;
  border-radius: 12px;
}

.navbar-brand:hover {
  color: rgb(102, 36, 0);
  background-color: whitesmoke;
}

.navbar .navbar-toggler {
  border: 2px solid white;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-toggler .navbar-toggler-icon:before {
  content: "☰";
  color: white;
  font-size: 24px;
}

.navbar .navbar-toggler:not(.collapsed) {
  box-shadow: 0px 0px 0px 3px rgba(102, 36, 0, 0.9);
}

.navbar .navbar-toggler.collapsed {
  box-shadow: none;
}

.navbar ul li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  padding: 10px 30px !important;
}

.navbar ul li a:hover {
  background-color: whitesmoke;
  color: rgba(102, 36, 0, 0.9);
  border-radius: 10px;
}

#divVolver {
  position: fixed;
  top: 80px;
  /* right: 20px; */
}



.volver {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: rgb(255 193 7);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  border-radius: 12px;
  padding: 6px 16px;
  margin-left: 20px;
}


#armaTuPc figure {
  display: inline-block;
  padding: 10px;
  background-color: white;
}



.card-marca img {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 1px solid rgba(102, 36, 0, 0.3);
}

.card-producto p {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
  color: rgba(102, 36, 0, 0.9);
  letter-spacing: 2px;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 500;
}

h5 {
  font-weight: 600;
  margin: 4px;
  letter-spacing: 1px;
  font-size: 1rem;
}

h6 {
  font-weight: 600;
  margin: 4px;
}


#div_rango_precio {
  display: inline-block;
  border: 1px solid rgb(43, 9, 128);
}

#div_rango_precio input {
  display: block;
  margin: 4px;
  width: 60px;
}

#div_botones_filtro input {
  display: block;
  text-align: center;
  margin-inline: 6px;
  width: 90px;
  height: 30px;
  background-color: #662400;
  color: white;
  letter-spacing: 1px;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
}

#logoPC {
  width: 40px;
  color: #662400;
  size: 50px;
}

.card-producto {
  height: auto;
  padding: 20px;
  display: inline-block;
  margin: 0;
}

.card-producto figure {
  margin: 0;
}


.card-producto img {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.card-producto a {
  text-decoration: none;
  background-color: #662400;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  letter-spacing: 2px;

}

.custom-badge {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;

}

a {
  text-decoration: none;
}

.btn-volver {
  background-color: #662400;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

#modalCotizacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  background-color: white;
  text-align: center;
}

.close-button {

  cursor: pointer;
  background-color: #662400;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  letter-spacing: 2px;
  font-size: 1rem;
}